{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    body{
    background: floralwhite;
    }
</style>
{% for field in form %}
<div class = "form-group">
    <div class=" col-sm-offset-2">
        <span class="text-danger small">{{field.errors}}</span>
    </div>
    <label class = "control-label col-sm-2" >{{field.label_tag }}</label>
    {% if field.label_tag == "Event Description:" %}

    <textarea>{{field}}</textarea>
    {%else%}
    <div class="">{{field}}</div>
    {%endif%}
</div>
{% endfor %}
</body>
</html>