{% load static %}
{% include 'header.html' %}
<html>
<body style="background-color:#ffffff;">
   
    <section id="section-intro" class="section-wrapper about-event" style=" background-image: url('static/img/about/img1.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-12" >
                    <!--center><h1 style="color:#D90000">ABOUT US</h1></center-->
                <div class="section-title">
                        <h1 style="color:#ffffff">ABOUT US</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-sm-6">
                    <p class="lead">
                        <b style="color:#ffffff">Book your favourite event tickets. <br>
                        Users can create an event as well as promote the event under our web application.</b><br><br><br>
                    </p>
                </div>
                    <!--p class="lead"-->
                <div class="col-sm-12 col-sm-6">
                    
                    <address>
                        <strong style="color:#ffffff;font-size:12pt;">iteam technology
                       <br style="color:#ffffff">Near bakrol
                        <br>
                      Vallabh Vidhyanagar,Anand, Gujarat 94103<br>
                        <abbr title="Phone">PH:</abbr> (91) 9999999999
                        </strong>
                    </address>
                </div>
            <!--/p-->
        
            </div>
        </div>
    </section>

    
</body>
 
   
            <!-- /.row-->

            <!--<div class="row">
                <div class="col-md-12">
                    <div id="googleMap"></div>
                </div>
            </div>-->
            <!-- .row-->

          <!--  <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>STAY INFORMED</h2>
                        <p>Don't miss the event!</p>
                    </div>
                    <form id="contactForm" class="subscribe-form form-inline" action="sendemail.php" method="POST">
                        <div class="form-group">
                            <label for="emailTwo" class="sr-only">Email</label>
                            <input type="email" class="form-control input-lg" required="" id="emailTwo" name="email" placeholder="Enter your email address">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg">SUBSCRIBE</button>
                    </form>
                </div>
            </div>

        </div>
    </section>-->
    <!-- contact-section -->
    <br>
    <br>
    <br>

    {% include 'footer.html' %}
    <!-- .footer -->


<!-- #main-wrapper -->




<!-- jquery -->
<!--script src="{% static 'js/jquery-2.1.4.min.js' %}"></script-->

<!-- Bootstrap -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'js/contact_me.js' %}"></script>
<!--<script src="js/one-page-nav.js"></script>-->

    </div><!--script src="{% static 'js/scripts.js' %}"></script-->
</body>

</html>