{% extends 'base.html' %}
{% block content %}
 <section id="section-intro" class="section-wrapper about-event">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p class="lead">
                        Quickly disintermediate empowered methodologies with ubiquitous best practices. Distinctively fabricate exceptional niches with technically sound technologies. Professionally revolutionize seamless synergy with real-time imperatives. Interactively pursue top-line bandwidth whereas visionary e-services.
                    </p>
                    <p class="lead">
                        Distinctively benchmark client-focused opportunities vis-a-vis 24/365 relationships. Progressively revolutionize equity invested synergy whereas emerging web services.
                    </p>
                </div>
                <div class="col-md-4">
                    <address>
                        <strong>Eventas, Inc.</strong><br>
                        1355 Market Street<br>
                        Suite 900<br>
                        PALDI, AHMEDANAD, GUJARAT 94103<br>
                        <abbr title="Phone">PH:</abbr> (91) 9824661232
                    </address>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}