 {% load static %}
<!DOCTYPE html>
<html>

<footer class="footer" style=" background-image: url({% static 'img/about/footer.jpg' %});">
    	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 text-left" >
                    <ul><b>
                        <li><p class="title" style="color:#ffffff; font-size: 20pt;"><br>SUPPORT</p></li>
                        <li><a href="FAQ"style="color:#ffffff;">FAQs</a></li>
                        <li><a href="Privacy"style="color:#ffffff;">Privacy Policy</a></li>
                        <li><a href="Terms"style="color:#ffffff;">Terms of Use</a></li>
                        <li><a href="Refund"style="color:#ffffff;">Refund Policy</a></li>
                        <li>&nbsp</li>
                        <li>&nbsp</li>
                        </b>
                    </ul>
                </div>

        <div class="copyright-section">
            <div class="container">
                <div class="col-md-12">
                    <div class="copytext text-center"style="color:#ffffff;">&copy; LockMySeat. All rights reserved | Design By: <a href="https://iteamTechnology.com"style="color:#ffffff;">iTeam</a></div>
                </div>
            </div>
            <!-- .container -->
        </div>
        <!-- .copyright-section -->
    </footer>
 </html>