{% load static %}
{% include 'header.html' %}


    <script type="text/javascript">
        $('#default').addClass("active");
    </script>
	<!--header-->

        <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ctl01', 'ctl00', [], [], [], 90, 'ctl00');
//]]>
</script>

        <div class="main" style="min-height:600px;">

    <style>
        .heading
        {
            text-align:left;
        }
    </style>
    <body style="background-color: #F1F0EF;">
    <!--div class="jumbotron text-center">
        <div class="content">
            <div class="event-date">DECEMBER 20–25, 2019, AHMEDABAD</div>
            <h1>SHREYA GHOSHAL- LIVE IN CONCERT</h1>
            <p class="lead"></p>
            <button type="button" class="btn btn-default btn-lg">STAY TUNED</button>
        </div>
    </div-->
    <!-- .Jumbotron-->
    <!-- slider start -->
    <!--<div class="main" style="min-height:600px;">
    	<style>
    		.heading
    		{
    			text-align:left;
    		}
    	</style-->
<!--slider-->
    <div class="container2" style= "background-color: #f2f4f7">
<div class="col-lg-12 col-md-10 col-sm-12 hidden-xs" style="padding:0px;margin:0px;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'img/1.jpg' %}" alt="slide4" style="width:100%;">
            </div>
            <div class="item">
                <img src="{% static 'img/2.jpg' %}" alt="slide1" style="width:100%;">
            </div>
            <div class="item">
                <img src="{% static 'img/1.jpg' %}" alt="slide2" style="width:100%;">
            </div>
            <div class="item">
                <img src="{% static 'img/2.jpg' %}" alt="slide2" style="width:100%;">
            </div>
            <div class="item">
                <img src="{% static 'img/1.jpg' %}" alt="slide2" style="width:100%;">
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
</div>
    <!--slider complete-->
<br> <br style="background-color:#ffffff;">
   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
</br></br>


    <section id="section-intro" class="section-wrapper about-event" style="background-image: url('static/img/about/img1.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-12" >
                	<!--center><h1 style="color:#D90000">ABOUT US</h1></center-->
                <div class="section-title">
                        <h1 style="color:#ffffff">ABOUT US</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-sm-6">
                    <p class="lead">
                        <b style="color:#ffffff">Book your favourite event tickets. <br>
                        Users can create an event as well as promote the event under our web application.</b><br><br><br>
                    </p>
                </div>
                    <!--p class="lead"-->
                <div class="col-sm-12 col-sm-6">
                    
                    <address>
                        <strong style="color:#ffffff;font-size:12pt;">iteam technology
                       <br style="color:#ffffff">Near bakrol
                        <br>
                      Vallabh Vidhyanagar,Anand, Gujarat 94103<br>
                        <abbr title="Phone">PH:</abbr> (91) 9999999999
                        </strong>
                    </address>
                </div>
            <!--/p-->
        
            </div>
        </div>
    </section>

    <!-- .about-event -->

    <section id="section-speaker" class="section-wrapper team gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1 style="color:#D90000">ARTISTS</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <figure class="thumbnail">
                        <a href="#"><img src="{% static 'img/shreya.jpg' %}" class="img-responsive" alt="Image"></a>
                        <figcaption class="caption text-center">
                            <h3 style="color:#D90000">Shreya Ghoshal
                                <small>Singer</small>
                            </h3>
                           <!-- <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                            </ul>-->
                        </figcaption>
                    </figure>
                </div>
                <!-- /.col-sm-6 -->

                <div class="col-sm-6 col-md-3">
                    <figure class="thumbnail">
                        <a href="#"><img src="{% static 'img/arijit.jpg' %}" class="img-responsive" alt="Image"></a>
                        <figcaption class="caption text-center">
                            <h3 style="color:#D90000">Arijit Singh
                                <small>Singer</small>
                            </h3>
                           <!-- <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                            </ul>-->
                        </figcaption>
                    </figure>
                </div>
                <!-- /.col-sm-6 -->

                <div class="col-sm-6 col-md-3">
                    <figure class="thumbnail">
                        <a href="#"><img src="{% static 'img/kajal.jpg' %}" class="img-responsive" alt="Image"></a>
                        <figcaption class="caption text-center">
                            <h3 style="color:#D90000">Kajal Oza
                                <small>Motivational Speaker</small>
                            </h3>
                           <!-- <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                            </ul>-->
                        </figcaption>
                    </figure>
                </div>
                <!-- /.col-sm-6 -->

                <div class="col-sm-6 col-md-3">
                    <figure class="thumbnail">
                        <a href="#"><img src="{% static 'img/sanjay.jpg' %}" class="img-responsive" alt="Image"></a>
                        <figcaption class="caption text-center">
                            <h3 style="color:#D90000">Sanjay Rawal
                                <small>Motivational Speaker</small>
                            </h3>
                           <!-- <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                            </ul>-->
                        </figcaption>
                    </figure>
                </div>
                <!-- /.col-sm-6 -->

            </div>
            <!-- .row -->
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <figure class="thumbnail">
                        <a href="#"><img src="{% static 'img/sandeep.jpg' %}" class="img-responsive" alt="Image"></a>
                        <figcaption class="caption text-center">
                            <h3 style="color:#D90000">Sandeep Maheshwari
                                <small>Motivational Speaker</small>
                            </h3>
                            <!--<ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                            </ul>-->
                        </figcaption>
                    </figure>
                </div>
                <!-- /.col-sm-6 -->

                <div class="col-sm-6 col-md-3">
                    <figure class="thumbnail">
                        <a href="#"><img src="{% static 'img/atif.jpg' %}" class="img-responsive" alt="Image"></a>
                        <figcaption class="caption text-center">
                            <h3 style="color:#D90000">Atif Aslam
                                <small>Singer</small>
                            </h3>
                            <!--<ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                            </ul>-->
                        </figcaption>
                    </figure>
                </div>
                <!-- /.col-sm-6 -->

                <div class="col-sm-6 col-md-3">
                    <figure class="thumbnail">
                        <a href="#"><img src="{% static 'img/sunidhi.jpg' %}" class="img-responsive" alt="Image"></a>
                        <figcaption class="caption text-center">
                            <h3 style="color:#D90000">Sunidhi Chauhan
                                <small>Singer</small>
                            </h3>
                           <!-- <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                            </ul>-->
                        </figcaption>
                    </figure>
                </div>
                <!-- /.col-sm-6 -->

                <div class="col-sm-6 col-md-3">
                    <figure class="thumbnail">
                        <a href="#"><img src="{% static 'img/balraj.jpg' %}" class="img-responsive" alt="Image"></a>
                        <figcaption class="caption text-center">
                            <h3 style="color:#D90000">Balraj Shastri
                                <small>Singer</small>
                            </h3>
                           <!-- <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                            </ul>-->
                        </figcaption>
                    </figure>
                </div>
                <!-- /.col-sm-6 -->

            </div>
            <!-- .row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- .team -->

    <section id="section-ajenda" class="section-wrapper section-ajenda" style=" background-image: url('static/img/about/venues.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>VENUES</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="session" style=" color:#ffffff">
                    	<h2><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspShastri Garden</b></h2>
                    	 <date>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>21<sup>st </sup>September 2019</b></date>
                        <time></time>

                    </div>
                    <!-- .session -->

                    <div class="session" style=" color:#ffffff">
                     <!--   <time>9:30 - 9:40AM</time>-->
                       <h2><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Hotel Madhuban</b></h2>
                    	 <date>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>1<sup>st </sup>October 2019</b></date>
                        <time></time>
                    </div>
                    <!-- .session -->

                    <div class="session" style=" color:#ffffff">
                       <h2><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Ahmedabad</b></h2>
                    	 <date>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>4<sup>th </sup>November 2019</b></date>
                        <time></time>
                    </div>
                    <!-- .session -->

                    <div class="session" style=" color:#ffffff">
                        <h2><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp GCET</b></h2>
                    	 <date>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>23<sup>rd </sup>September 2019</b></date>
                        <time></time>
                    </div>
                    <!-- .session -->


                </div>
                <div class="col-md-4">
                    <div class="session" style=" color:#ffffff">
                        <h2><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Parul University</b></h2>
                    	 <date>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>22<sup>nd </sup>December 2019</b></date>
                        <time></time>
                    </div>
                    <!-- .session -->

                    <div class="session" style="color:#ffffff">
                       <h2><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Town hall Anand</b></h2>
                    	 <date>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>24<sup>th </sup>October 2019</b></date>
                        <time></time>
                    </div>
                    <!-- .session -->

                   <!-- <div class="session">
                        <time>2:20 - 3:20PM</time>
                        <h2>Lunch Break</h2>
                    </div>-->
                    <!-- .session -->


                </div>
                <!--<div class="col-md-4">
                    <div class="session">
                        <time>3:20PM - 4PM</time>
                        <h2>Native Creatives Winners Presentation</h2>
                        <h3>Johann Graf <span>VP Sales, MES</span></h3>
                    </div>


                    <div class="session">
                        <time>4:05 - 5:30PM</time>
                        <h2>Case Study: XYR</h2>
                        <h3>Jan Pfeiffer <span>HEAD OF COMMUNICATIONS, TOT</span></h3>
                        <h3>Marie Ilsner <span>PRESIDENT, PADDA</span></h3>
                        <h3>Hannes Beck <span>MANAGING DIRECTOR, DEP</span></h3>
                    </div>



                    <div class="session">
                        <time>5:30 - 6:00PM</time>
                        <h2>Cocktail and Networking Party</h2>
                    </div>


-->
                </div>
            </div>


    </section>


   <!-- <section id="section-pricing" class="section-wrapper pricing-section gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>BUY TICKET</h1>
                        <p>Quickly synthesize low-risk high-yield e-markets without dynamic.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="pricing-table-default text-center">
                        <div class="pricing-head">
                            <h3>Early-bird PASS</h3>
                            <span class="price"><sup>$</sup>100</span>
                        </div>
                        <div class="pricing-detail">
                            <ul class="pricing-list pink-i">
                                <li>Main keynote speeches</li>
                                <li>Access to all areas</li>
                                <li>Lunch on day 1</li>
                            </ul>
                        </div>
                        <a href="#" class="btn btn-primary">BUY TICKET</a>
                    </div>
                     /.pricing-table-wrapper
                </div>


                <div class="col-sm-4">
                    <div class="pricing-table-default text-center">
                        <div class="pricing-head">
                            <h3>ULTIMATE PASS</h3>
                            <span class="price"><sup>$</sup>150</span>
                        </div>
                        <div class="pricing-detail">
                            <ul class="pricing-list pink-i">
                                <li>Main keynote speeches</li>
                                <li>Access to all areas</li>
                                <li>Lunch on day 1</li>
                            </ul>
                        </div>
                        <a href="#" class="btn btn-primary">BUY TICKET</a>
                    </div>
                     /.pricing-table-wrapper
                </div>


                <div class="col-sm-4">
                    <div class="pricing-table-default text-center">
                        <div class="pricing-head">
                            <h3>PLATINUM</h3>
                            <span class="price"><sup>$</sup>250</span>
                        </div>
                        <div class="pricing-detail">
                            <ul class="pricing-list pink-i">
                                <li>Main keynote speeches</li>
                                <li>Access to all areas</li>
                                <li>Lunch on day 1</li>
                            </ul>
                        </div>
                        <a href="#" class="btn btn-primary">BUY TICKET</a>
                    </div>

                </div>

            </div>

        </div>

    </section>
   -->

   <!-- <section id="section-partner" class="section-wrapper client-logo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>PARTNERS</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                    <a href="#"><img src="{% static 'img/logo-client-1.jpg' %}" alt="Image"></a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                    <a href="#"><img src="{% static 'img/logo-client-2.jpg' %}" alt="Image"></a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                    <a href="#"><img src="{% static 'img/logo-client-3.jpg' %}" alt="Image"></a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                    <a href="#"><img src="{% static 'img/logo-client-4.jpg' %}" alt="Image"></a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                    <a href="#"><img src="{% static 'img/logo-client-5.jpg' %}" alt="Image"></a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                    <a href="#"><img src="{% static 'img/logo-client-6.jpg' %}" alt="Image"></a>
                </div>
            </div>
        </div>

    </section>
   -->


    <section id="section-venue" class="section-wrapper  gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!--<div class="section-title">
                        <h1>THE VENUE</h1>

                        <p>Credibly recaptiualize cutting-edge functionalities vis-a-vis intuitive growth strategies. Appropriately evolve open-source potentialities via goal-oriented e-business. Enthusiastically target go forward scenarios and visionary "outside the box" thinking. Professionally administrate cost effective sources without corporate convergence.</p>
                    </div>-->
                </div>
            </div>
            <!-- /.row-->

            <!--<div class="row">
                <div class="col-md-12">
                    <div id="googleMap"></div>
                </div>
            </div>-->
            <!-- .row-->

          <!--  <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>STAY INFORMED</h2>
                        <p>Don't miss the event!</p>
                    </div>
                    <form id="contactForm" class="subscribe-form form-inline" action="sendemail.php" method="POST">
                        <div class="form-group">
                            <label for="emailTwo" class="sr-only">Email</label>
                            <input type="email" class="form-control input-lg" required="" id="emailTwo" name="email" placeholder="Enter your email address">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg">SUBSCRIBE</button>
                    </form>
                </div>
            </div-->

        </div>
    </section>
    <!-- contact-section -->


    
    <!-- .footer -->

</div>
</div>
</div>

<!-- #main-wrapper -->
{% include 'footer.html' %}




<!-- jquery -->
<!--script src="{% static 'js/jquery-2.1.4.min.js' %}"></script-->

<!-- Bootstrap -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<!--js for carousal slider -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
<script src="{% static 'js/contact_me.js' %}"></script>
<!--<script src="js/one-page-nav.js"></script>-->
<!--script src="{% static 'js/scripts.js' %}"></script-->

    <script type="text/javascript">
        $(function () {
            $.ui.autocomplete.prototype._renderItem = function (ul, item) {
                item.label = item.label.replace(new RegExp("(?![^&;]+;)(?!<[^<>]*)(" + $.ui.autocomplete.escapeRegex(this.term) + ")(?![^<>]*>)(?![^&;]+;)", "gi"), "<strong>$1</strong>");
                return $("<li></li>")
                        .data("item.autocomplete", item)
                        .append("<a>" + item.label + "</a>")
                        .appendTo(ul);
            };
            $("#txtEventId").autocomplete({
                source: function (request, response) {
                    var param = { name: $("#txtEventId").val() };
                    $.ajax({
                        url: '/WCF/Service.svc/GetEventListByName',
                        data: JSON.stringify(param),
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            console.log(data.GetEventListByNameResult);
                            response($.map(data.GetEventListByNameResult, function (item) {
                                return { label: item.Name, id: item.EventId }
                            }))
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(textStatus);
                        }
                    });
                },
                select: function (event, ui) {
                    //console.log(ui.item);
                    location.href = "Registration?EventId=" + ui.item.id
                }
                //minLength: 3
            });
        });
        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }
        var btn = "Subscribe";
        function StoreSubscription() {
            //var btn = $("#btnSubscribe").val();
            if (btn == "Subscribe") {
                var email = $("#txtSEmail").val();
                if (email.trim() == "") {
                    alert("Please Enter Email Address");
                    return false;
                }
                if (!validateEmail(email)) {
                    alert("Enter Valid Email Address");
                    return false;
                }
                $("#btnSubscribe").val("Saving...");
                $("#btnSubscribe").attr("disabled", false);
                $.ajax({
                    type: "POST",
                    url: "Default.aspx/StoreSubcription",
                    data: '{\"emailid\" : \"' + email + '\"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                        var resp = response.d;
                        if (response.d == "OK") {
                            alert("Subscribe Successfully");
                            $("#txtSEmail").val("");
                        }
                        else if (response.d == "OK-1") {
                            alert("Email Already Subscribed");
                            $("#txtSEmail").val("");
                        }
                        else {
                            alert("Error in sending mail. Pleast Try after some time.");
                        }

                        $("#btnSubscribe").val("Subscribe");
                        $("#btnSubscribe").attr("disabled", false);
                    },
                    failure: function (response) {
                        alert(response.d);
                        $("#btnSubscribe").val("Subscribe");
                        $("#btnSubscribe").attr("disabled", false);
                    },
                    error: function (response) {
                        alert(response.d);
                        $("#btnSubscribe").val("Subscribe");
                        $("#btnSubscribe").attr("disabled", false);
                    }
                });
                return false;
            }
        }
    </script>
</body>
</html>